.country-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

.filter-selection {
    display: flex;
}

.country-list {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 0em));
    gap: 100px 20px;
    justify-content: space-between; /* Align the first card to the left and the last card to the right */
    align-items: center;
}