.header-container {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 375px;
    height: 70px;
    border-bottom: 5px solid rgba(128, 128, 128, 0.123);
    background-color: white;
    color: black;
}

.header-body {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.header-left {
    font-weight: 800;
    font-size: 22px;
}

.header-right {
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.moon-icon {
    height: 18px;
    width: 18px;
    transform: translateY(3px);
    margin-right: 8px;
}

.dark-mode {
    background-color: #2b3743;
    color: white;
    border-bottom: 5px solid rgba(0, 0, 0, 0.301);
}

@media (max-width: 600px) {
    .header-left {
        font-size: 16px;
    }

    .header-right {
        font-size: 14px;
    }

    .moon-icon {
        height: 14px;
        width: 14px;
    }
}